.contact-section {
    display: flex; /* Usa flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    background: var(--cor-principal); 
    padding: 20px;
    height: 370px; /* ou '100vh' para altura total da viewport, se desejar */
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
}


.contact-container {
    max-width: 600px; /* Ajuste conforme necessário */
    width: 100%; /* Garante que o container não exceda a largura da section */
    padding: 20px;
    border-radius: 8px;
    background: transparent; /* Mantém o fundo transparente */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    margin-top: 10px;
    z-index: 6; /* Assegura que o conteúdo fique acima do fundo */
    
}

.img-left-contato {
    position: absolute;
    max-width: 130px;
    opacity: 40%;
}
.contact-info {
    background: transparent;
}

.info-item {
    margin-bottom: 15px;
}

.info-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: var(--font-texto-corpo);
}

.info-subs {
    font-size: 16px;
    font-weight: 600;
}

.mascara-contato {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--var-cor-preta);
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.contact-section-desktop{

    display: none;
    
}

@media screen and (min-width:760px) {
   
    .h2-contato {
        font-size: 30px;
    }
}

@media screen and (min-width:1024px) {
    .contact-section{
        display: none;
    }
    .contact-section-desktop{
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
        padding: 15px 30px 55px 30px;
        background-color: var(--cor-principal);
        position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    }
    
    .h2-contato-desk {
        font-size: 36px;
        line-height: 50px;
    }
    .img-left-contato{
        bottom: 50;
        left: 10px;
        opacity: 100%;
        max-width: 200px;
    }
    
    .img-right-contato{
        position: absolute;
        max-width: 200px;
        bottom: 50;
        right: 10px;
        opacity: 100%;
    }
}