.destaque {
    padding-top: 60px;
    height: 93vh;
}

.destaque__container {
    background-image: url("../img/noiva.webp");
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mascara {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--var-cor-preta);
    z-index: 3;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.destaque__info {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    color: var(--var-cor-branca);
}


.destaque__box-info-ferragens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-branca {
    width: 20px;
    height: 3px;
    background-color: var(--var-cor-branca);
}

.destaque__info p {
    text-align: center;
    padding: 0 10px;
}

.destaque__box-info-ferragens {
    font-size: 20px;
}

.destaque__btn {
    margin-top: 100px;
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--cor-secundaria-opacity);
    padding: 14px 35px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 20px;
}

@media screen and (min-width:760px) {
    .destaque__box-info-ferragens {
        padding-top: 30px;
    }
    .destaque__box-info-ferragens p {
        font-size: 44px;
    }
    .destaque__btn {
        padding: 16px 65px;
        font-size: 26px;
    }
}

@media screen and (min-width:1024px) {
    .destaque__box-info-ferragens {
        padding-top: 40px;
    }
    .destaque__box-info-ferragens p {
        font-size: 54px;
    }
    .destaque__btn {
        padding: 18px 75px;
        font-size: 34px;
    }
}