@import url("./variaveis.css");
@import url("./header.css");
@import url("./swiper.css");
@import url("./destaque.css");
@import url("./contato.css");
@import url("./itajai.css");
@import url("./galeria-2023.css");
@import url("./footer.css");
@import url("./info-trabalho.css");
@import url("./nossas-feiras.css");
@import url("./video.css");
@import url("./quem-somos.css");
@import url("./galeria-2024.css");

body{
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    padding: 30px 0;
    text-align: center;
    color: var(--cor-terciaria);
}

h3 {
    font-size: 20px;
    padding: 20px 0;
    color: var(--cor-secundaria);
}

.h2-contato {
    position: absolute;
    top: 20px;
    z-index: 3;
    color: var(--cor-terciaria);
    font-size: 24px;
}


.link-whatsapp {
    background-color: #25D366;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
    position: fixed;
    top: 95%;
    left: 95%;
    transform: translate(-95%, -95%);
    z-index: 50;
}

.link-whatsapp:hover {
    transform: translate(-95%, -95%) scale(1.1);
    background-color: #14ac4c;
}

.link-whatsapp:active {
    transform: translate(-95%, -95%) scale(1);
}

.link-whatsapp img {
    height: 70%;
    width: 70%;
}

.termos-de-contrato{
    padding: 30px 40px;
    line-height: 1.8;
    text-align: justify;
}

.termos-de-contrato p{
    margin: 10px 0;
}

.h1-termos{
    margin-top: 50px;
    color: var(--cor-secundaria);
}



@media screen and (min-width:760px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    .link-whatsapp {
        height: 70px;
        width: 70px;
    }
    .termos-de-contrato{
        padding: 50px 120px;
    }
}

@media screen and (min-width:1024px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
        line-height: 50px;
    }
    h3 {
        font-size: 28px;
    }
    .termos-de-contrato{
        padding: 80px 150px;
    }
}
















